.navbar-brand img{
  max-width: 120px;
  height: auto;
}
.nav-link{
  font-size: 1.12rem;
}
.call-to-action{
  color: #FF4500 !important;
}
.call-to-action:hover{
  color: #ff7d0a !important;
}
.text-prime-color{
  color: #FF4500 !important;
}
.category-box{
  border-radius: 9px;
  border: 1px solid #3490dc;
  background: #f8fafc;
  box-shadow: -6px -6px 20px rgba(255, 255, 255, 1),
              6px 6px 20px rgba(0,0,0,1);
  cursor: pointer;
}
.category-box h5{
  margin-bottom: 0!important;
}

.subcategory-box{
  border-radius: 6px;
  border: 1px solid #7babd1;
  background: #F8FAFC;
  box-shadow: -6px -6px 20px rgba(255,255,255,1),
  6px 6px 20px rgba(0,0,0,0.1);
  cursor: pointer;
}
.subcategory-box h6{
  margin-bottom: 0 !important;
}
.footer{
  background-color: #2a4365;
  color: #fff;
}

.footer ul {
  text-decoration: none;
  padding: 0;
  list-style-type: none;
  -webkit-padding-start: 0;
}
.footer ul li a {
  text-decoration: none;
  padding: 0;
  list-style-type: none;
  -webkit-padding-start: 0;
}
.footer a {
  text-decoration: none;
  padding: 0;
  list-style-type: none;
  -webkit-padding-start: 0;
}
